.nav {
    list-style-type: none;
}

.nav_item, .nav_item-selected {
    display: inline-block;
}

.nav_item-selected {
    background-color: #0000ff;
    color: #fff;
}

.btn {
    background-color: Transparent;
}

.btn:hover {
    cursor: pointer;
}

.nav_item-selected .btn {
    color: #fff;
}

